# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
.angular/
.angular/cache/17.3.0/practicas_an17/.tsbuildinfo
.vscode/
node_modules/
node_modules/@ampproject/remapping/dist/
node_modules/@angular/cli/src/commands/build/
node_modules/@angular/compiler-cli/node_modules/
node_modules/@angular/compiler-cli/node_modules/@babel/core/node_modules/
node_modules/@angular-devkit/core/node_modules/
node_modules/@angular-devkit/core/node_modules/source-map/dist/
node_modules/@babel/code-frame/node_modules/
node_modules/@babel/code-frame/node_modules/chalk/node_modules/
node_modules/@babel/code-frame/node_modules/chalk/node_modules/ansi-styles/node_modules/
node_modules/@babel/code-frame/node_modules/chalk/node_modules/ansi-styles/node_modules/color-convert/node_modules/
node_modules/@babel/code-frame/node_modules/chalk/node_modules/supports-color/node_modules/
node_modules/@babel/core/node_modules/
node_modules/@babel/helper-compilation-targets/node_modules/
node_modules/@babel/helper-compilation-targets/node_modules/lru-cache/node_modules/
node_modules/@babel/helper-create-class-features-plugin/node_modules/
node_modules/@babel/helper-create-regexp-features-plugin/node_modules/
node_modules/@babel/highlight/node_modules/
node_modules/@babel/highlight/node_modules/chalk/node_modules/
node_modules/@babel/highlight/node_modules/chalk/node_modules/ansi-styles/node_modules/
node_modules/@babel/highlight/node_modules/chalk/node_modules/ansi-styles/node_modules/color-convert/node_modules/
node_modules/@babel/highlight/node_modules/chalk/node_modules/supports-color/node_modules/
node_modules/@babel/plugin-transform-runtime/node_modules/
node_modules/@babel/preset-env/node_modules/
node_modules/@discoveryjs/json-ext/dist/
node_modules/@isaacs/cliui/build/
node_modules/@isaacs/cliui/node_modules/
node_modules/@isaacs/cliui/node_modules/string-width/node_modules/
node_modules/@isaacs/cliui/node_modules/strip-ansi/node_modules/
node_modules/@isaacs/cliui/node_modules/wrap-ansi/node_modules/
node_modules/@jridgewell/gen-mapping/dist/
node_modules/@jridgewell/resolve-uri/dist/
node_modules/@jridgewell/set-array/dist/
node_modules/@jridgewell/source-map/dist/
node_modules/@jridgewell/sourcemap-codec/dist/
node_modules/@jridgewell/trace-mapping/dist/
node_modules/@npmcli/agent/node_modules/
node_modules/@npmcli/agent/node_modules/lru-cache/dist/
node_modules/@npmcli/git/node_modules/
node_modules/@npmcli/git/node_modules/lru-cache/dist/
node_modules/@npmcli/git/node_modules/which/node_modules/
node_modules/@npmcli/git/node_modules/which/node_modules/isexe/dist/
node_modules/@npmcli/package-json/node_modules/
node_modules/@npmcli/package-json/node_modules/glob/dist/
node_modules/@npmcli/package-json/node_modules/glob/node_modules/
node_modules/@npmcli/package-json/node_modules/glob/node_modules/minimatch/dist/
node_modules/@npmcli/package-json/node_modules/glob/node_modules/minimatch/node_modules/
node_modules/@npmcli/promise-spawn/node_modules/
node_modules/@npmcli/promise-spawn/node_modules/which/node_modules/
node_modules/@npmcli/promise-spawn/node_modules/which/node_modules/isexe/dist/
node_modules/@npmcli/run-script/node_modules/
node_modules/@npmcli/run-script/node_modules/which/node_modules/
node_modules/@npmcli/run-script/node_modules/which/node_modules/isexe/dist/
node_modules/@sigstore/bundle/dist/
node_modules/@sigstore/core/dist/
node_modules/@sigstore/protobuf-specs/dist/
node_modules/@sigstore/sign/dist/
node_modules/@sigstore/tuf/dist/
node_modules/@sigstore/verify/dist/
node_modules/@tufjs/models/dist/
node_modules/@tufjs/models/node_modules/
node_modules/@tufjs/models/node_modules/minimatch/dist/
node_modules/@tufjs/models/node_modules/minimatch/node_modules/
node_modules/@vitejs/plugin-basic-ssl/dist/
node_modules/@xtuc/ieee754/dist/
node_modules/@xtuc/long/dist/
node_modules/acorn/dist/
node_modules/adjust-sourcemap-loader/node_modules/
node_modules/agent-base/dist/
node_modules/ag-grid-community/dist/
node_modules/ajv/dist/
node_modules/ajv-formats/dist/
node_modules/ajv-keywords/dist/
node_modules/anymatch/node_modules/
node_modules/babel-plugin-polyfill-corejs2/node_modules/
node_modules/babel-plugin-polyfill-corejs3/node_modules/
node_modules/babel-plugin-polyfill-regenerator/node_modules/
node_modules/body-parser/node_modules/
node_modules/body-parser/node_modules/debug/node_modules/
node_modules/bonjour-service/dist/
node_modules/cacache/node_modules/
node_modules/cacache/node_modules/glob/dist/
node_modules/cacache/node_modules/glob/node_modules/
node_modules/cacache/node_modules/glob/node_modules/minimatch/dist/
node_modules/cacache/node_modules/glob/node_modules/minimatch/node_modules/
node_modules/cacache/node_modules/lru-cache/dist/
node_modules/caniuse-lite/dist/
node_modules/chalk/node_modules/
node_modules/chalk/node_modules/supports-color/node_modules/
node_modules/chokidar/node_modules/
node_modules/chrome-trace-event/dist/
node_modules/cliui/build/
node_modules/cliui/node_modules/
node_modules/cliui/node_modules/wrap-ansi/node_modules/
node_modules/cliui/node_modules/wrap-ansi/node_modules/ansi-styles/node_modules/
node_modules/cliui/node_modules/wrap-ansi/node_modules/ansi-styles/node_modules/color-convert/node_modules/
node_modules/compression/node_modules/
node_modules/compression/node_modules/debug/node_modules/
node_modules/connect/node_modules/
node_modules/connect/node_modules/debug/node_modules/
node_modules/content-disposition/node_modules/
node_modules/copy-anything/dist/
node_modules/copy-webpack-plugin/dist/
node_modules/copy-webpack-plugin/node_modules/
node_modules/cosmiconfig/dist/
node_modules/cosmiconfig/node_modules/
node_modules/cosmiconfig/node_modules/js-yaml/dist/
node_modules/cosmiconfig/node_modules/js-yaml/node_modules/
node_modules/critters/dist/
node_modules/cross-spawn/node_modules/
node_modules/css-loader/dist/
node_modules/dlv/dist/
node_modules/encoding/node_modules/
node_modules/encoding/node_modules/iconv-lite/.idea/
node_modules/engine.io/build/
node_modules/engine.io/node_modules/
node_modules/engine.io-parser/build/
node_modules/escalade/dist/
node_modules/es-module-lexer/dist/
node_modules/esprima/dist/
node_modules/esrecurse/node_modules/
node_modules/exponential-backoff/dist/
node_modules/express/node_modules/
node_modules/express/node_modules/debug/node_modules/
node_modules/external-editor/node_modules/
node_modules/fast-glob/node_modules/
node_modules/finalhandler/node_modules/
node_modules/finalhandler/node_modules/debug/node_modules/
node_modules/flatted/python/__pycache__/
node_modules/flatted/python/__pycache__/flatted.cpython-311.pyc
node_modules/foreground-child/dist/
node_modules/foreground-child/node_modules/
node_modules/foreground-child/node_modules/signal-exit/dist/
node_modules/hosted-git-info/node_modules/
node_modules/hosted-git-info/node_modules/lru-cache/dist/
node_modules/hpack.js/node_modules/
node_modules/hpack.js/node_modules/readable-stream/node_modules/
node_modules/http-errors/node_modules/
node_modules/http-proxy-agent/dist/
node_modules/http-proxy-middleware/dist/
node_modules/https-proxy-agent/dist/
node_modules/human-signals/build/
node_modules/iconv-lite/.idea/
node_modules/ignore-walk/node_modules/
node_modules/ignore-walk/node_modules/minimatch/dist/
node_modules/ignore-walk/node_modules/minimatch/node_modules/
node_modules/immutable/dist/
node_modules/import-fresh/node_modules/
node_modules/inquirer/node_modules/
node_modules/ip-address/dist/
node_modules/ip-address/node_modules/
node_modules/ip-address/node_modules/sprintf-js/dist/
node_modules/istanbul-lib-instrument/node_modules/
node_modules/istanbul-lib-report/node_modules/
node_modules/istanbul-lib-source-maps/node_modules/
node_modules/istanbul-lib-source-maps/node_modules/source-map/dist/
node_modules/is-what/.vscode/
node_modules/is-what/dist/
node_modules/jackspeak/dist/
node_modules/jest-worker/build/
node_modules/jest-worker/node_modules/
node_modules/jest-worker/node_modules/supports-color/node_modules/
node_modules/jiti/dist/
node_modules/json5/dist/
node_modules/js-yaml/dist/
node_modules/jwt-decode/build/
node_modules/karma/local.log
node_modules/karma/node_modules/
node_modules/karma/node_modules/yargs/build/
node_modules/karma/node_modules/yargs/node_modules/
node_modules/karma/node_modules/yargs/node_modules/cliui/build/
node_modules/karma/node_modules/yargs/node_modules/cliui/node_modules/
node_modules/karma/node_modules/yargs/node_modules/cliui/node_modules/wrap-ansi/node_modules/
node_modules/karma/node_modules/yargs/node_modules/cliui/node_modules/wrap-ansi/node_modules/ansi-styles/node_modules/
node_modules/karma/node_modules/yargs/node_modules/cliui/node_modules/wrap-ansi/node_modules/ansi-styles/node_modules/color-convert/node_modules/
node_modules/karma/node_modules/yargs/node_modules/yargs-parser/build/
node_modules/karma-jasmine/node_modules/
node_modules/klona/dist/
node_modules/less/dist/
node_modules/less/node_modules/
node_modules/less/node_modules/source-map/dist/
node_modules/less-loader/dist/
node_modules/license-webpack-plugin/dist/
node_modules/lilconfig/dist/
node_modules/lines-and-columns/build/
node_modules/log-symbols/node_modules/
node_modules/log-symbols/node_modules/chalk/node_modules/
node_modules/log-symbols/node_modules/chalk/node_modules/ansi-styles/node_modules/
node_modules/log-symbols/node_modules/chalk/node_modules/ansi-styles/node_modules/color-convert/node_modules/
node_modules/log-symbols/node_modules/chalk/node_modules/supports-color/node_modules/
node_modules/magic-string/dist/
node_modules/make-dir/node_modules/
node_modules/micromatch/node_modules/
node_modules/mini-css-extract-plugin/dist/
node_modules/minipass/dist/
node_modules/minipass-flush/node_modules/
node_modules/minipass-flush/node_modules/minipass/node_modules/
node_modules/minipass-json-stream/node_modules/
node_modules/minipass-json-stream/node_modules/minipass/node_modules/
node_modules/minipass-pipeline/node_modules/
node_modules/minipass-pipeline/node_modules/minipass/node_modules/
node_modules/minipass-sized/node_modules/
node_modules/minipass-sized/node_modules/minipass/node_modules/
node_modules/minizlib/node_modules/
node_modules/needle/node_modules/
node_modules/needle/node_modules/iconv-lite/.idea/
node_modules/node-forge/dist/
node_modules/node-gyp/node_modules/
node_modules/node-gyp/node_modules/glob/dist/
node_modules/node-gyp/node_modules/glob/node_modules/
node_modules/node-gyp/node_modules/glob/node_modules/minimatch/dist/
node_modules/node-gyp/node_modules/glob/node_modules/minimatch/node_modules/
node_modules/node-gyp/node_modules/which/node_modules/
node_modules/node-gyp/node_modules/which/node_modules/isexe/dist/
node_modules/object-hash/dist/
node_modules/ora/node_modules/
node_modules/ora/node_modules/chalk/node_modules/
node_modules/ora/node_modules/chalk/node_modules/ansi-styles/node_modules/
node_modules/ora/node_modules/chalk/node_modules/ansi-styles/node_modules/color-convert/node_modules/
node_modules/ora/node_modules/chalk/node_modules/supports-color/node_modules/
node_modules/parse5/dist/
node_modules/parse5-html-rewriting-stream/dist/
node_modules/parse5-sax-parser/dist/
node_modules/parse-json/node_modules/
node_modules/path-scurry/dist/
node_modules/path-scurry/node_modules/
node_modules/path-scurry/node_modules/lru-cache/dist/
node_modules/piscina/dist/
node_modules/pkg-dir/node_modules/
node_modules/pkg-dir/node_modules/find-up/node_modules/
node_modules/pkg-dir/node_modules/find-up/node_modules/locate-path/node_modules/
node_modules/pkg-dir/node_modules/find-up/node_modules/locate-path/node_modules/p-locate/node_modules/
node_modules/postcss-load-config/node_modules/
node_modules/postcss-loader/dist/
node_modules/postcss-media-query-parser/dist/
node_modules/postcss-selector-parser/dist/
node_modules/promise-retry/node_modules/
node_modules/proxy-addr/node_modules/
node_modules/qs/dist/
node_modules/randombytes/node_modules/
node_modules/raw-body/node_modules/
node_modules/read-cache/node_modules/
node_modules/readdirp/node_modules/
node_modules/read-package-json/node_modules/
node_modules/read-package-json/node_modules/glob/dist/
node_modules/read-package-json/node_modules/glob/node_modules/
node_modules/read-package-json/node_modules/glob/node_modules/minimatch/dist/
node_modules/read-package-json/node_modules/glob/node_modules/minimatch/node_modules/
node_modules/read-package-json-fast/node_modules/
node_modules/regjsparser/node_modules/
node_modules/resolve/test/resolver/symlinked/_/node_modules/
node_modules/resolve/test/shadowed_core/node_modules/
node_modules/resolve-url-loader/node_modules/
node_modules/resolve-url-loader/node_modules/source-map/dist/
node_modules/rollup/dist/
node_modules/rxjs/dist/
node_modules/sass-loader/dist/
node_modules/schema-utils/dist/
node_modules/send/node_modules/
node_modules/send/node_modules/debug/node_modules/
node_modules/serve-index/node_modules/
node_modules/serve-index/node_modules/debug/node_modules/
node_modules/serve-index/node_modules/http-errors/node_modules/
node_modules/sigstore/dist/
node_modules/smart-buffer/build/
node_modules/socket.io/dist/
node_modules/socket.io-adapter/dist/
node_modules/socket.io-adapter/node_modules/
node_modules/socket.io-parser/build/
node_modules/socks/build/
node_modules/socks-proxy-agent/dist/
node_modules/source-map/dist/
node_modules/source-map-loader/dist/
node_modules/source-map-support/node_modules/
node_modules/source-map-support/node_modules/source-map/dist/
node_modules/sprintf-js/dist/
node_modules/string_decoder/node_modules/
node_modules/sucrase/dist/
node_modules/sucrase/node_modules/
node_modules/sucrase/node_modules/glob/dist/
node_modules/sucrase/node_modules/glob/node_modules/
node_modules/sucrase/node_modules/glob/node_modules/minimatch/dist/
node_modules/sucrase/node_modules/glob/node_modules/minimatch/node_modules/
node_modules/tailwindcss/lib/cli/build/
node_modules/tailwindcss/src/cli/build/
node_modules/tar/node_modules/
node_modules/tar/node_modules/fs-minipass/node_modules/
node_modules/terser/dist/
node_modules/terser-webpack-plugin/dist/
node_modules/terser-webpack-plugin/node_modules/
node_modules/terser-webpack-plugin/node_modules/schema-utils/dist/
node_modules/terser-webpack-plugin/node_modules/schema-utils/node_modules/
node_modules/terser-webpack-plugin/node_modules/schema-utils/node_modules/ajv/dist/
node_modules/terser-webpack-plugin/node_modules/schema-utils/node_modules/ajv/node_modules/
node_modules/ts-interface-checker/dist/
node_modules/tuf-js/dist/
node_modules/typed-assert/.vscode/
node_modules/typed-assert/build/
node_modules/typed-assert/build/tsconfig.tsbuildinfo
node_modules/ua-parser-js/dist/
node_modules/uri-js/dist/
node_modules/uuid/dist/
node_modules/vite/dist/
node_modules/vite/node_modules/
node_modules/vite/node_modules/esbuild/node_modules/
node_modules/webpack/node_modules/
node_modules/webpack/node_modules/schema-utils/dist/
node_modules/webpack/node_modules/schema-utils/node_modules/
node_modules/webpack/node_modules/schema-utils/node_modules/ajv/dist/
node_modules/webpack/node_modules/schema-utils/node_modules/ajv/node_modules/
node_modules/webpack-dev-middleware/dist/
node_modules/webpack-dev-server/node_modules/
node_modules/webpack-dev-server/node_modules/webpack-dev-middleware/dist/
node_modules/webpack-merge/dist/
node_modules/websocket-driver/node_modules/
node_modules/wrap-ansi/node_modules/
node_modules/wrap-ansi/node_modules/ansi-styles/node_modules/
node_modules/wrap-ansi/node_modules/ansi-styles/node_modules/color-convert/node_modules/
node_modules/wrap-ansi-cjs/node_modules/
node_modules/wrap-ansi-cjs/node_modules/ansi-styles/node_modules/
node_modules/wrap-ansi-cjs/node_modules/ansi-styles/node_modules/color-convert/node_modules/
node_modules/y18n/build/
node_modules/yaml/browser/dist/
node_modules/yaml/browser/dist/node_modules/
node_modules/yaml/dist/
node_modules/yargs/build/
node_modules/yargs-parser/build/
