.box {
  margin: 0.9375rem;
}

.password-strength {
  margin-top: 0.5rem;
}

.password-strength progress {
  height: 0.5rem;
}

.errors-container ul {
  margin-left: 1.2rem;
  margin-top: 0.25rem;
}

.errors-container li {
  font-size: 0.875rem;
}

.radio {
  margin-right: 1rem;
}