<form class="box" [formGroup]="formbuil">
  <div class="field">
    <label for="" class="label"> Nombre </label>
    <div class="control">
      <input
        class="input"
        formControlName="nombre"
        type="text"
        placeholder="Ingrese el Nombre"
      />
      @if(formbuil.get('nombre')?.hasError('required')){
      <p>se requiere el nombre</p>
      }
    </div>
  </div>
  <div class="field">
    <label for="" class="label"> contraseña </label>
    <div class="control">
      <input
        class="input"
        formControlName="constrasena"
        type="password"
        placeholder="Ingrese el contraseña"
      />
      @if(formbuil.get('constrasena')?.hasError('required')){
      <p>se requiere la contrasena</p>
      }@else if (formbuil.get('constrasena')?.hasError('minlength')) {
      <p>la contrasena debe tener al menos 4 caracteres</p>
      }
    </div>
  </div>
  <div class="field">
    <label for="" class="label"> Email </label>
    <div class="control">
      <input
        class="input"
        formControlName="email"
        type="email"
        placeholder="Ingrese el Email"
      />
      @if(formbuil.get('email')?.hasError('required')){
      <p>se requiere el email</p>
      }
    </div>
  </div>
  <div class="field">
    <p class="control">
      <button
        class="button is-success"
        (click)="registrar()"
        [disabled]="formbuil.invalid"
      >
        acceso
      </button>
    </p>
  </div>
</form>
<!-- <pre>
  {{ formbuil.value | json }}
</pre> -->
@if (messageBoolean==true) {
<app-mensajes />
}
