<form class="box" [formGroup]="formGroup">
  <div class="field">
    <label for="" class="label"> Nombre </label>
    <div class="control">
      <input
        class="input"
        formControlName="nombre"
        type="text"
        placeholder="Ingrese el Nombre"
      />
      @if(formGroup.controls.nombre.hasError('required')){
      <p>se requiere el nombre</p>
      }
    </div>
  </div>
  <div class="field">
    <label for="" class="label"> contraseña </label>
    <div class="control">
      <input
        class="input"
        formControlName="constrasena"
        type="password"
        placeholder="Ingrese el contraseña"
      />
      @if(formGroup.controls.constrasena.hasError('required')){
      <p>se requiere la contrasena</p>
      }
    </div>
  </div>
  <div class="field">
    <label for="" class="label"> Email </label>
    <div class="control">
      <input
        class="input"
        formControlName="email"
        type="email"
        placeholder="Ingrese el Email"
      />
      @if(formGroup.controls.email.hasError('required')){
      <p>se requiere el email</p>
      }
    </div>
  </div>
  <div class="field">
    <p class="control">
      <button
        class="button is-success"
        (click)="registrar()"
        [disabled]="formGroup.invalid"
      >
        acceso
      </button>
    </p>
  </div>
</form>
@if (messageBoolean==true) {
<app-mensajes />
}
