<form class="box" [formGroup]="formbuild" (ngSubmit)="login()">
  <div class="field">
    <label for="" class="label"> Email </label>
    <div class="control">
      <input
        class="input"
        formControlName="email"
        type="email"
        placeholder="Ingrese el Email"
      />
      @if(formbuild.get('email')?.hasError('required')){
      <p>se requiere el Email</p>
      }@else if ( formbuild.get('email')?.hasError('email') ) {
      <p>el email no es valido</p>
      }
    </div>
  </div>
  <div class="field">
    <label for="" class="label"> contraseña </label>
    <div class="control">
      <input
        class="input"
        type="password"
        formControlName="constrasena"
        placeholder="Ingrese el contraseña"
      />
      @if(formbuild.get('constrasena')?.hasError('required')){
      <p>se requiere la contrasena</p>
      }@else if ( formbuild.get('constrasena')?.hasError('minlength') ) {
      <p>la contrasena debe tener al menos 4 caracteres</p>
      }
    </div>
  </div>
  <div class="field">
    <p class="control">
      <button
        type="submit"
        [disabled]="formbuild.invalid"
        class="button is-success"
      >
        acceso
      </button>
    </p>
  </div>
</form>
<!-- <pre>
  {{ formbuild.value | json }}
</pre> -->
